<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">

<div class="container">
    <form id="myform" method="post" action="/postCourse" enctype="multipart/form-data">
        <div class="card shadow">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label fw-bold">Infomation</h3>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="form-group row justify-content-md-center  my-2">
                    <label class="col-lg-3 fs-4 text-end">Course Name:</label>
                    <div class="col-lg-7">
                        <input id="courseName" type="text" class="form-control" placeholder="Web development" name="name">
                    </div>
                </div>
                <div class="form-group row justify-content-md-center  my-2">
                    <label class="col-lg-3 fs-4 py-0 text-end">Cover Image:</label>
                    <div class="col-xl-7">
                        <input id="courseImg" name="img" type="input" class="form-control w-100" placeholder="url">
                    </div>
                </div>
                <div class="form-group row justify-content-md-center  my-2">
                    <label class="col-lg-3 fs-4 text-end">Category:</label>
                    <div class="col-lg-7">
                        <select class="form-select" id="mainCat" aria-label="Default select example">
                            {{#each categories}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row justify-content-md-center  my-2">
                    <label class="col-lg-3 fs-4 text-end">Sub Category:</label>
                    <div class="col-lg-7" id="testtest">
                        {{#each categories}}
                        <select id="sub-{{this.name}}" hidden class="form-select" aria-label="Default select example">
                            {{#each sub_categories}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{/each}}
                    </div>
                </div>
                <div class="form-group row justify-content-md-center  my-2">
                    <label class="col-lg-3 fs-4 text-end">Overall:</label>
                    <div class="col-lg-7">
                        <textarea id="overall" name="overview" class="form-control" rows="5"
                            placeholder="Introduction to the course"></textarea>
                    </div>
                </div>
                <div class="form-group row justify-content-md-center  my-2">
                    <label class="col-lg-3 text-start py-0 fs-4 text-end">Price:</label>
                    <div class="col-lg-7">
                        <input id="price" type="text" name="price" class="form-control" placeholder="10%">
                    </div>
                </div>
                <div class="form-group row justify-content-md-center my-2">
                    <label class="col-lg-3 py-0 fs-4 text-end">Sales:</label>
                    <div class="col-lg-7">
                        <input id="sales" type="text" name="discount" class="form-control" placeholder="10%">
                    </div>
                </div>
            </div>
        </div>

        {{!-- WYSWYG editor --}}
        <div class="card card-custom roseanna shadow my-3">
            <div class="card-header fw-bold m-0">Description</div>
            <div class="card-body">
                <div id="editor"></div>
                <input name="text" style="display:none" id="hiddenArea"></input>
            </div>
        </div>

        {{!-- chapter --}}
        <div class="card shadow my-3">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="fw-bold m-0">Chapters</h3>
                    <button type="button" class="btn btn-secondary text-light fw-bold" id="addChapter">Add new
                        chapter</button>
                </div>
            </div>
            <div class="card-body">
                <div id="newinput1"></div>
            </div>
        </div>


        <div class="card-body">
            <div class="chap-container accordion accordion-light accordion-svg-toggle" numChapter="0">
            </div>
        </div>


        {{!-- button --}}
        <div class="d-flex justify-content-center">
            <button id="createBtn" type="submit"
                class="btn btn-md btn-secondary text-light fw-bold m-2">&emsp;&emsp;Create&emsp;&emsp;</button>
            <a href="/" class="btn btn-md btn-secondary text-light fw-bold m-2">&emsp;&emsp;Cancel&emsp;&emsp;</a>
        </div>
    </form>
</div>


<div id="row" hidden>
    <div id="row1">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="d-flex flex-row">
                    <div class="fs-3 m-0" id="section">Section </div>
                    <input class="ms-3" id="titleChap" name="titleChap" placeholder=" Introduce"
                        style="margin-top: 6px; height: 60%">
                </div>
                <div>
                    <button type="button" class="btn btn-secondary text-light fw-bold me-2" id="addLesson">Add new
                        Lesson</button>
                    <button class="btn fs-2" id="DeleteRow1" type="button">
                        <i class="bi bi-trash"></i> x</button>
                </div>
            </div>
            <div class="card-body">
                <div id="newinput2"></div>
            </div>
        </div>
    </div>
    <div id="newinput1"></div>
</div>

<div id="row2" hidden>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex flex-row">
                <div class="fs-3 m-0">Lesson 1:</div>
                <input class="ms-3" placeholder=" Introduce" id="titleLes" name="titleLes"
                    style="margin-top: 6px; height: 75%" />
            </div>
            <div>
                <button class="btn btn-secondary text-light fw-bold" id="cancel" type="button"><i
                        class="bi bi-trash"></i> Cancel </button>
            </div>
        </div>
        <div class="card-body">
            <input type="file" id="video" name="video" multiple accept="video/*" class="ms-2">
        </div>
    </div>
</div>
 <div id="empty" hidden style="margin: 0 auto; width:40%; font-size:12px; text-align:center"class="alert alert-danger" role="alert">
            All Fields Need To Be Filled!
</div>
<div id="nan" hidden style="margin: 0 auto; width:40%; font-size:12px; text-align:center"class="alert alert-danger" role="alert">
            Price And Sales Need To Be Numeric!
</div>
<div id="valid" hidden style="margin: 0 auto; width:40%; font-size:12px; text-align:center"class="alert alert-danger" role="alert">
            Sales Cannot Higher Than 100%
</div>



<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    const list = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
    var chapter = 0;

    $("body").on('change', '[id^=mainCat]', function () {
        $('[id^=sub-]').attr('hidden', '').removeClass('show');

        $('#sub-' + $(this).val()).removeAttr('hidden').addClass('show');

    })

    $("body").on("click", "#addChapter", function () {
        var number = chapter + 1;
        $('#newinput1').append($('#row').clone().prop('id', 'chapter' + chapter));
        $('#DeleteRow1').attr('id', 'deleteChapter' + chapter);
        $('#addLesson').attr('id', 'addLesson' + chapter);
        $('#section').attr('id', 'section' + chapter).text("Section " + number + ": ");
        $('#newinput2').attr('id', 'newLesson' + chapter)
        $('#titleChap').attr('id', 'titleChap' + chapter)
        $('#chapter' + chapter).removeAttr('hidden')
        chapter++;

    })

    $("body").on("click", "[id^=deleteChapter]", function () {
        const id = $(this).attr('id').slice(-1);
        $(this).parents("#chapter" + id).remove();
        list[id] = 0;
        chapter--;

    })

    $("body").on("click", "[id^=addLesson]", function () {
        const id = $(this).attr('id').slice(-1);
        $('#newLesson' + id).append($('#row2').clone().prop('id', id + 'lesson' + list[id]));
        $('#' + id + 'lesson' + list[id]).removeAttr('hidden');
        $('#cancel').attr('id', id + 'cancel' + list[id]);
        $('#video').attr('id', id + 'video' + list[id]);
        $('#titleLes').attr('id', id + 'titleLes' + list[id]);
        list[id]++;
    })
    $("body").on("click", "[id*=cancel]", function () {
        const id = $(this).attr('id').charAt(0);
        const idLesson = $(this).attr('id').slice(-1);
        $(this).parents('#' + id + 'lesson' + idLesson).remove();
        list[id]--;

    })

    $('#myform').on('submit', function (e) {
        let data = [];
        let listLesName = [];
        let listLesVideo = [];
        let a = '';
        for (let i = 0; i < chapter; i++) {
            let nameChap = $('#titleChap' + i).val();
            for (let j = 0; j < list[i]; j++) {
                let nameLes = $('#' + i + 'titleLes' + j).val()
                let video = $('#' + i + 'video' + j).val()
                listLesName.push(nameLes);
                listLesVideo.push(video);
            }
            $('#myform').append('<input type="input" hidden value="' + list[i] + '" name="nLesson"/>');
        }
        $("#hiddenArea").val($("#editor").html());

        $('#myform').append('<input type="input" hidden value="' + $('[id^=sub-].show').val() + '" name="sub_category"/>');
        $('#myform').append('<input type="input" hidden value="' + $('#mainCat').val() + '" name="category"/>');
    })


    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];
    var quill = new Quill('#editor', {
        placeholder: 'Compose an epic...',
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">  
$('#createBtn').click(function(e){
  $('#nan').attr('hidden','');
  $('#empty').attr('hidden','');
  $('#valid').attr('hidden','');
  const courseName = $('#courseName').val();
  const courseImage = $('#courseImg').val();
  const overall = $('#overall').val();
  const price = $('#price').val();
  const sale = $('#sales').val();
  var priceInt = parseInt(price);
  var saleInt = parseInt(sale);
  if (courseName.length === 0 || courseImage.length === 0 || overall.length === 0 || price.length === 0 || sale.length === 0){  
    $('#empty').removeAttr('hidden');
    e.preventDefault();
  } else if (isNaN(parseFloat(price)) || isNaN(parseFloat(sale))) {
    $('#nan').removeAttr('hidden');
    e.preventDefault();
  } else if(saleInt > 100) {
    $('#valid').removeAttr('hidden');
    e.preventDefault();
  }
});  
</script>  
