<style>
  @media screen and (max-width: 940px) {
    .mainContent li span {
      display: none;
    }

    a span {
      display: none;
    }
  }

  .mainContent li.nav-item:hover {
    background: #f05462;
  }
</style>

<div class="d-flex">
  <div class="mainContent d-flex flex-nowrap fs-5" style="min-height: 85vh; overflow-x: auto; overflow-y: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/settings" class="nav-link link-dark">
            <i class="fa-regular fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        {{#if admin}}
        <li class="nav-item">
          <a href="/settings/dashboard" class="nav-link link-dark">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-grip-horizontal"></i>
            <span>Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseAdmin" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        <div class="dropdown">
          <a class="btn dropdown-toggle nav-link link-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown-item">
              <a href="/settings/lecturerAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Lecturers</span>
              </a>
            </li>
            <li class="nav-item dropdown-item">
              <a href="/settings/studentAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Students</span>
              </a>
            </li>
          </ul>
        </div>
        {{/if}}
        {{#if student}}
        <li class="nav-item">
          <a href="/settings/favourite" class="nav-link active" style="background-color: #ff6a00 !important;" aria-current="page">
            <i class="fas fa-heart"></i>
            <span>Favorite</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseStudent" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
        {{#if lecturer}}
        <li class="nav-item">
          <a href="/settings/courseLecture" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
      </ul>
      <hr />
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link link-dark" href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" style="flex: 3">
    <dic class="d-flex flex-column">
      <h2 class="mt-3 ml-5">Your Favourite Course</h2>
      <hr style="margin-top: -10px;" />
      <div class="d-flex flex-column pt-3">
        {{#each this.courses}}
        <div class="d-flex flex-row shadow py-3" style="height: 200px">
          <a href="/course/{{name}}" class="w-25"><img src={{img}} alt="imageCourse" class="py-2 ms-2"
              style="width: 100%; height: 100%" /></a>
          <div class="d-flex justify-content-between h-75" style="width: 100%; padding-right: 15px;">
            <div class="d-flex flex-column ps-4 w-50">
              <div>{{name}}</div>
              <div>Students: {{register_count}}</div>
              <div>Lecture: {{author}}</div>
            </div>
            <div class="d-flex flex-column text-end">
              <div>Update: {{format_date lastUpdate}}</div>
              <div class="d-flex flex-row-reverse">
                <button class="btn btn-secondary text-light" type="submit" form="myform" name="nameFav"
                  value="{{this.name}}" id="btnFav">Remove</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}


        <div class="d-flex justify-content-center pt-4">
          <nav aria-label="Page navigation example">
            <ul id="nPage" value="{{pageNumbers.length}}" class="pagination pagination-md justify-content-center" >
              {{#each pageNumbers}}
              {{#if isCurrent}}
              <li class="page-item">
                <a class="page-link text-secondary border-secondary fw-bold" id="prev" href="?page={{minus_one value}}"
                  value="{{minus_one value}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{/if}}
              {{/each}}
              {{#each pageNumbers}}
              {{#if isCurrent}}
              <li class="page-item active" aria-current="page">
                <span class="page-link text-secondary border-secondary fw-bold bg-secondary text-light">{{value}}</span>
              </li>
              {{else}}
              <li class="page-item">
                <a class="page-link text-secondary border-secondary fw-bold " href="?page={{value}}">{{value}}</a>
              </li>
              {{/if}}
              {{/each}}
              {{#each pageNumbers}}
              {{#if isCurrent}}
              <li class="page-item">
                <a class="page-link text-secondary fw-bold border-secondary" id="next" href="?page={{add_one value}}"
                  value="{{add_one value}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {{/if}}
              {{/each}}
            </ul>
          </nav>
        </div>
      </div>
  </div>
</div>
</div>

<form method="post" id="myform" action="/settings/favourite/remove">

</form>