<style>
  @media screen and (max-width: 940px) {
    .mainContent li span {
      display: none;
    }

    a span {
      display: none;
    }
  }

  .mainContent li.nav-item:hover {
    background: #f05462;
  }
</style>

<div class="d-flex">
  <div class="mainContent d-flex flex-nowrap fs-5" style="min-height: 85vh; overflow-x: auto; overflow-y: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/settings" class="nav-link link-dark">
            <i class="fa-regular fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        {{#if admin}}
        <li class="nav-item">
          <a href="/settings/dashboard" class="nav-link link-dark">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/category" class="nav-link link-dark">
            <i class="fas fa-grip-horizontal"></i>
            <span>Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseAdmin" class="nav-link active" aria-current="page">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        <div class="dropdown">
          <a class="btn dropdown-toggle nav-link link-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown-item">
              <a href="/settings/lecturerAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Lecturers</span>
              </a>
            </li>
            <li class="nav-item dropdown-item">
              <a href="/settings/studentAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Students</span>
              </a>
            </li>
          </ul>
        </div>
        {{/if}}
        {{#if student}}
        <li class="nav-item">
          <a href="/settings/favourite" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Favorite</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseStudent" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
        {{#if lecturer}}
        <li class="nav-item">
          <a href="/settings/courseLecture" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
      </ul>
      <hr />
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link link-dark" href="#">
            <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" style="flex: 3">
    <div class="card">
      <div class="card-header d-flex">
        <h4>Courses</h4>
        <form id="filter" method="get" enctype="application/x-www-form-urlencoded">
          <button class="btn btn-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 5px">
            Category
          </button>
          <div class="dropdown-menu">
            {{#each categories}}
            <li>
              <input class="dropdown-item" name="main_cat" value="{{this.name}}" type="submit" form="filter" />
              <ul class="dropdown-menu dropdown-submenu">
                {{#each this.sub_categories}}
                <input class="dropdown-item" name="cat" value="{{this.name}}" type="submit" form="filter" />
                {{/each}}
              </ul>
            </li>
            {{/each}}
          </div>
          <button class="btn btn-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 5px">
            Lecturer
          </button>
          <div class="dropdown-menu">
            {{#each this.author}}
            <li>
              <input class="dropdown-item" name="author" value="{{author.username}}" type="submit" form="filter" />
            </li>
            {{/each}}
          </div>
        </form>
      </div>
      <form action="" method="post" id="frmDelItem">
        <input type="hidden" id="txtDelProID" name="id">
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Courses</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Date</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.courses}}
          {{#if enable}}
          <tr>
            <td scope="row" class="text-center">{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td class="text-center">{{round_number rating}}<i class="fa fa-star" style="color:rgba(228, 228, 22, 0.675)"
                aria-hidden="true"></i></td>
            <td>{{format_date lastUpdate}}</td>
            <td class="text-right">
              <form method="post">
                <button class=" btn btn-sm btn-danger delItem" formaction="/settings/courseAdmin/disable/{{_id}}">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </form>
            </td>
          </tr>
          {{else}}
          <tr class="bg-danger">
            <td scope="row" class="text-center">{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td class="text-center">{{round_number rating}}<i class="fa fa-star" style="color:rgba(228, 228, 22, 0.675)"
                aria-hidden="true"></i></td>
            <td>{{format_date lastUpdate}}</td>
            <td class="text-right">
              <form method="post">
                <button class=" btn btn-sm btn-outline-light delItem" formaction="/settings/courseAdmin/enable/{{_id}}">
                  <i class="fa-solid fa-check"></i>
                </button>
              </form>
            </td>
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>