<style>
  @media screen and (max-width: 940px) {
    .mainContent li span {
      display: none;
    }

    a span {
      display: none;
    }
  }

  .mainContent li.nav-item:hover {
    background: #f05462;
  }
</style>

<div class="d-flex">
  <div class="mainContent d-flex flex-nowrap fs-5" style="min-height: 85vh; overflow-x: auto; overflow-y: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/settings" class="nav-link link-dark">
            <i class="fa-regular fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        {{#if admin}}
        <li class="nav-item">
          <a href="/settings/dashboard" class="nav-link link-dark">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/category" class="nav-link link-dark">
            <i class="fas fa-grip-horizontal"></i>
            <span>Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseAdmin" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        <div class="dropdown">
          <a class="btn dropdown-toggle nav-link link-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown-item">
              <a href="/settings/lecturerAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Lecturers</span>
              </a>
            </li>
            <li class="nav-item dropdown-item">
              <a href="/settings/studentAdmin" class="nav-link active" aria-current="page">
                <i class="fas fa-users"></i>
                <span>Students</span>
              </a>
            </li>
          </ul>
        </div>
        {{/if}}
        {{#if student}}
        <li class="nav-item">
          <a href="/settings/favourite" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Favorite</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseStudent" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
        {{#if lecturer}}
        <li class="nav-item">
          <a href="/settings/courseLecture" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
      </ul>
      <hr />
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link link-dark" href="#">
            <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" style="flex: 3">
    <div class="card">
      <h4 class="card-header">
        Students
      </h4>
      <form action="" method="post" id="frmDelItem">
        <input type="hidden" id="txtDelProID" name="id">
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>avatar</th>
            <th>username</th>
            <th>role</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.students}}
          <tr>
            <td scope="row" class="py-3">{{id}}</td>
            <td><img src={{avatar}} alt="" class="rounded-circle p-1 bg-secondary" width="50" /></td>
            <td><div class="py-3">{{username}}</div></td>
            <td><div class="py-3">{{role}}</div></td>
            <td>
              <form method="post">
                <button class=" btn btn-sm btn-secondary delItem mt-3"
                  formaction="/settings/studentAdmin/updateRole/{{_id}}">
                  <i class="fa-solid fa-chalkboard-user"></i>
                </button>
                {{#if verified}}
                <button class=" btn btn-sm btn-danger delItem mt-3" formaction="/settings/studentAdmin/lock/{{_id}}">
                  <i class="fa-solid fa-unlock"></i>
                </button>
                {{else}}
                <button class=" btn btn-sm btn-danger delItem mt-3" formaction="/settings/studentAdmin/unlock/{{_id}}">
                  <i class="fa-solid fa-lock "></i>
                </button>
                {{/if}}
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="d-flex justify-content-center pt-4">
        <nav aria-label="Page navigation example" >
          <ul id="nPage" value="{{pageNumbers.length}}" class="pagination pagination-md justify-content-center" >
            {{#each pageNumbers}}
            {{#if isCurrent}}
            <li class="page-item">
              <a class="page-link text-secondary border-secondary fw-bold" id="prev" href="?page={{minus_one value}}"
                value="{{minus_one value}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{/if}}
            {{/each}}
            {{#each pageNumbers}}
            {{#if isCurrent}}
            <li class="page-item active" aria-current="page">
              <span class="page-link text-secondary border-secondary fw-bold bg-secondary text-light">{{value}}</span>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link text-secondary border-secondary fw-bold " href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
            {{#each pageNumbers}}
            {{#if isCurrent}}
            <li class="page-item">
              <a class="page-link text-secondary fw-bold border-secondary" id="next" href="?page={{add_one value}}"
                value="{{add_one value}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>