<style>
  th,
  td {
    text-align: left;
    padding: 8px;
  }

  @media screen and (max-width: 940px) {
    .mainContent li span {
      display: none;
    }
  }

  .mainContent li.nav-item:hover {
    background: #f05462;
  }
</style>
<div class="d-flex">
  <div class="mainContent d-flex flex-nowrap fs-5" style="min-height: 85vh; overflow-x: auto; overflow-y: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/settings" class="nav-link link-dark">
            <i class="fa-regular fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/dashboard" class="nav-link active" aria-current="page">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-grip-horizontal"></i>
            <span>Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
        </li>
      </ul>
      <hr />
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link link-dark" href="#">
            <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-body" style="flex: 3">
    <div class="content position-relative">
      <div class="cards d-flex align-items-center justify-content-between flex-wrap py-2 px-5">
        <div class="card d-flex align-items-center justify-content-around" style="width: 250px; height: 150px; background: white; margin: 20px 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="box">
            <div class="fs-3">{{students.length}} Students</div>
          </div>
          <div class="icon-case">
            <img src="/public/images/students.png" alt="" />
          </div>
        </div>
        <div class="card d-flex align-items-center justify-content-around" style="width: 250px; height: 150px; background: white; margin: 20px 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="box">
            <div class="fs-3">{{lecturers.length}} Lecturers</div>
          </div>
          <div class="icon-case">
            <img src="/public/images/teachers.png" alt="" />
          </div>
        </div>
        <div class="card d-flex align-items-center justify-content-around" style="width: 250px; height: 150px; background: white; margin: 20px 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="box">
            <div class="fs-3">5 Categories</div>
          </div>
          <div class="icon-case">
            <img src="/public/images/categories.png" alt="" style="width: 64px" />
          </div>
        </div>
        <div class="card d-flex align-items-center justify-content-around" style="width: 250px; height: 150px; background: white; margin: 20px 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="box">
            <div class="fs-3">{{courses.length}} Courses</div>
          </div>
          <div class="icon-case">
            <img src="/public/images/courses.png" alt="" style="width: 64px" />
          </div>
        </div>
      </div>
    </div>
    <div class="content-2 d-flex justify-content-around align-items-start flex-wrap">
      <div class="recent-Courses d-flex flex-column" style="flex: 5; margin: 0 25px 25px 25px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="title d-flex align-items-center justify-content-around" style="border-bottom: 2px solid #999;">
          <h2>Recent Courses</h2>
          <a href="#" class="btn btn-secondary text-center py-2 px-4 text-white">View All</a>
        </div>
        <table class="p-2">
          <tr>
            <th>Name</th>
            <th>Lecturer</th>
            <th>Price</th>
            <th>Option</th>
          </tr>
          {{#each this.newCourses}}
          <tr>
            <td>{{name}}</td>
            <td>{{author}}</td>
            <td>${{price}}</td>
            <td><a href="/course/{{name}}" class="btn btn-secondary text-center text-white">View</a></td>
          </tr>
          {{/each}}
        </table>
      </div>
      <div class="new-students d-flex flex-column"
        style="flex: 3; margin: 0 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="title d-flex align-items-center justify-content-around" style="  border-bottom: 2px solid #999;">
          <h2>New Students</h2>
          <a href="#" class="btn btn-secondary text-center py-2 px-4 text-white">View All</a>
        </div>
        <table>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
          </tr>
          {{#each this.newStudents}}
          <tr>
            <td><img src={{avatar}} alt="" /></td>
            <td>{{username}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>