

<style>
  @media screen and (max-width: 940px) {
    .mainContent li span {
      display: none;
    }
  }

  .mainContent li.nav-item:hover {
    background: #f05462;
  }
</style>

<div class="d-flex">
  <div class="mainContent d-flex flex-nowrap fs-5" style="min-height: 85vh; overflow-x: auto; overflow-y: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/settings" class="nav-link active" aria-current="page">
            <i class="fa-regular fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/dashboard" class="nav-link link-dark">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-grip-horizontal"></i>
            <span>Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/favourite" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Favorite</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseLecture" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>CoursesL</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseStudent" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>CoursesS</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
        </li>
      </ul>
      <hr />
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link link-dark" href="#">
            <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-body" style="flex: 3">
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src={{user.avatar}} alt="Admin" class="rounded-circle p-1 bg-secondary" width="110" />
              <div class="mt-3">
                <h4>{{user.username}}</h4>
                <p class="text-secondary mb-1">{{role}}</p>
                <p class="text-muted font-size-sm">Ho Chi Minh, VietNam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form method="post">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="fullname" value="{{user.fullname}}" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="email" value="{{user.email}}" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" value="(239) 816-9029" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" value="(320) 380-4539" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" value="Ho Chi Minh, VietNam" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button type="submit" class="btn btn-secondary text-white px-4" formaction="/settings/edit">
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form name ="changePassForm" method="post" class="mt-3" onsubmit="validateForm()" action="/settings/changePass">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Old Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="oldPass" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">New Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="newPass" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Confirm Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="confirmPass" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button id="btnChange" type="submit" class="btn btn-secondary text-white px-4">
                    Save Changes
                  </button>
                  {{#if success}}
                    <div style="display:inline-block; font-size:20px;"class="alert alert-success" role="alert">
                      Change Password Successfully!
                    </div>
                  {{/if}} 
                  {{#if unsuccess}}
                    <div style="display:inline-block; font-size:20px;"class="alert alert-danger" role="alert">
                      Old Password Is Not Correct!
                    </div>
                  {{/if}} 
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">  
$('#btnChange').click(function(){ 
  var oldPass = document.getElementById().value;  
  console.log(1)
  var newPass = document.changePassForm.newPass.value;  
  var confirmPass = document.changePassForm.confirmPass.value;
    
  if (oldPass==null || oldPass=="" || newPass==null || newPass=="" || confirmPass==null || confirmPass==""){  
    console.log('abc');
    return false;
  }
});  
</script>  