<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
  @media screen and (max-width: 940px) {
    .mainContent li span {
      display: none;
    }

    a span {
      display: none;
    }
  }

  .mainContent li.nav-item:hover {
    background: #f05462;
  }
</style>

<div class="d-flex">
  <div class="mainContent d-flex flex-nowrap fs-5" style="min-height: 85vh; overflow-x: auto; overflow-y: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/settings" class="nav-link active" aria-current="page">
            <i class="fa-regular fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        {{#if admin}}
        <li class="nav-item">
          <a href="/settings/dashboard" class="nav-link link-dark">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-grip-horizontal"></i>
            <span>Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseAdmin" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        <div class="dropdown">
          <a class="btn dropdown-toggle nav-link link-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown-item">
              <a href="/settings/lecturerAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Lecturers</span>
              </a>
            </li>
            <li class="nav-item dropdown-item">
              <a href="/settings/studentAdmin" class="nav-link link-dark">
                <i class="fas fa-users"></i>
                <span>Students</span>
              </a>
            </li>
          </ul>
        </div>
        {{/if}}
        {{#if student}}
        <li class="nav-item">
          <a href="/settings/favourite" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Favorite</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/settings/courseStudent" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
        {{#if lecturer}}
        <li class="nav-item">
          <a href="/settings/courseLecture" class="nav-link link-dark">
            <i class="fas fa-book"></i>
            <span>Courses</span>
          </a>
        </li>
        {{/if}}
      </ul>
      <hr />
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link link-dark" href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-body" style="flex: 3">
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src={{user.avatar}} alt="Admin" class="rounded-circle p-1 bg-secondary" width="110" />
              <div class="mt-3">
                <h4>{{user.username}}</h4>
                <p class="text-secondary mb-1">{{role}}</p>
                <p class="text-muted font-size-sm">Ho Chi Minh, VietNam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form method="post">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-1 fs-5">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="fullname" value="{{user.fullname}}" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-1 fs-5">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="email" value="{{user.email}}" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button type="submit" class="btn btn-secondary text-white px-4" formaction="/settings/edit">
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form id="changePassForm" method="post" class="mt-3" action="/settings/changePass">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-1 fs-5">Old Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" class="form-control" name="oldPass" id="oldPass" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-1 fs-5">New Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" class="form-control" name="newPass" id="newPass" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-1 fs-5">Confirm Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" class="form-control" name="confirmPass" id="confirmPass" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button id="btnChange" type="submit" class="btn btn-secondary text-white px-4">
                    Save Changes
                  </button>
                  <div id="empty" hidden style="display:inline-block; font-size:12px;" class="alert alert-danger"
                    role="alert">
                    All Fields Need To Be Filled!
                  </div>
                  <div id="minLength" hidden style="display:inline-block; font-size:12px;" class="alert alert-danger"
                    role="alert">
                    The Password Must Be At Least 5 Characters!
                  </div>
                  <div id="notEqual" hidden style="display:inline-block; font-size:12px;" class="alert alert-danger"
                    role="alert">
                    New Password and Confirm Password Can't Be Different!
                  </div>
                  <div id="notEqual1" hidden style="display:inline-block; font-size:12px;" class="alert alert-danger"
                    role="alert">
                    Old Password and New Password Can't Be The Same!
                  </div>
                  <div id="unsuccess" hidden style="display:inline-block; font-size:12px;" class="alert alert-danger"
                    role="alert">
                    Old Password Is Not Correct!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#btnChange').click(function (e) {
    var check = false;
    $('#unsuccess').attr('hidden', '');
    $('#empty').attr('hidden', '');
    $('#minLength').attr('hidden', '');
    $('#notEqual').attr('hidden', '');
    $('#notEqual1').attr('hidden', '');
    const oldPass = $('#oldPass').val();
    const newPass = $('#newPass').val();
    const confirmPass = $('#confirmPass').val();
    if (oldPass.length === 0 || newPass.length === 0 || confirmPass.length === 0) {
      $('#empty').removeAttr('hidden');
      e.preventDefault();
    } else if (newPass.length < 5 || confirmPass.length < 5) {
      $('#minLength').removeAttr('hidden');
      e.preventDefault();
    } else if (newPass != confirmPass) {
      $('#notEqual').removeAttr('hidden');
      e.preventDefault();
    } else if (newPass == oldPass) {
      $('#notEqual1').removeAttr('hidden');
      e.preventDefault();
    } else {
      $.getJSON(`/settings/isSamePass?oldPass=${oldPass}`, function (data) {
        if (data === false) {
          $('#unsuccess').removeAttr('hidden');
          data.preventDefault();
          e.preventDefault();
        }
      });
    }
  });
</script>