{{!-- Background --}}
<div class="container">
  <div class="text-center bg-image my-4"><img src='/public/images/details.jpg' 
    style="background-repeat: no-repeat; height: 500px; width: 100%; "
    class="rounded"
  ></div>

  {{!-- Buy in and description --}}

  <div class="bg-grey d-flex rounded">

    <div class="p-5 text-start" style="flex: 4">
      <h1 class="fw-bold">{{detail.Title}}</h1>
      <p class="fs-4 m-0">Learn Full Stack Web Development Building Over 40+ Projects (Co chu more de tu navigate toi body)</p>
      <div class="d-flex">
        <p class="fs-5 m-0 text-primary me-1">Rating: </p>
        <div class="rating d-flex fs-5" >
          <i class="fa fa-star text-secondary" style="line-height: unset" title="Bad"></i>
          <i class="far fa-star text-secondary" style="line-height: unset" title="Poor"></i>
          <i class="far fa-star text-secondary" style="line-height: unset" title="OK"></i>
          <i class="far fa-star text-secondary" style="line-height: unset" title="Good"></i>
          <i class="far fa-star text-secondary" style="line-height: unset" title="Excellent"></i>
        </div>
        <p class="fs-5 m-0"> 4.4 out of 5 (2,774 ratings) 13,860 students</p>
      </div>

      <div class="d-flex">
        <p class="fs-5 m-0 text-primary me-1">Lecturers: </p>
        <p class="fs-5 m-0">{{detail.Lecturers}}</p>
      </div>

      <div class="d-flex">
        <p class="fs-5 m-0 text-primary me-1">Lastest Updated: </p>
        <p class="fs-5 m-0">09/12/2022</p>
      </div>
    </div>

    <div class="bg-lgrey my-6 mx-2 rounded d-flex flex-column align-items-center justify-content-center" style="flex: 1">
        <p class="text-center text-primary fw-bold">10.000 VND</p>
        <button type="button" class="btn btn-primary btn-lg fw-bold px-4">Buy</button>
    </div>
  </div>


  {{!-- Body --}}            

  <div class="container-fluid my-3 p-4 bg-lgrey rounded" >
    <p class="h2 fw-bold px-4 bg-primary mb-0 rounded-5" style="border-bottom-right-radius: 0%!important;border-bottom-left-radius: 0%!important; margin-left: 5%; width: fit-content;">Course Sumary</p>
    <p class="fs-5 ps-4 py-1 bg-light rounded-bottom rounded-end" style="margin-left: 5%; width:90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.</p>
    
    {{!-- Accordion --}}            
    <hr class="my-3" style="height: 1px;" />

    <p class="h2 fw-bold px-4 bg-primary mb-0 rounded-5" style="border-bottom-right-radius: 0%!important;border-bottom-left-radius: 0%!important; margin-left: 5%; width: fit-content;">Course Details</p>
    <div class="accordion open rounded-end rounded-bottom" id="accordionExample" style="margin-left: 5%; width: 90%;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button fw-bold fs-5 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Chapter 1: Introduction
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse fs-5 collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body py-2">
            Overall
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button fw-bold fs-5 collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Chapter 2: HTML
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse fs-5 collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body py-2">
            Introduction about HTML
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button fw-bold fs-5 collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Chapter 3: CSS
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse fs-5 collapse"  aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body py-2">
            Introduction about CSS
          </div>
        </div>
    </div>
  </div>
{{!-- Recommend --}}

  <hr class="my-3" style="height: 1px;" />

<div class="container-fluid p-0 bg-lgrey" style="width: 90%">
  <p class="h2 fw-bold px-4 bg-primary mb-0 rounded-5" style="border-bottom-right-radius: 0%!important;border-bottom-left-radius: 0%!important; width: fit-content;">Recommend</p>
  <ul class="list-group list-group-flush">
  <li class="list-group-item d-flex bg-light rounded-end rounded-bottom">
    <img src='/public/images/details.jpg' 
    style="background-repeat: no-repeat; height: 80px; width: 80px; "
    class="rounded align-self-center">
    <div class="px-2 me-auto">
      <div class="fs-5 fw-bold m-0">Java Application</div>
      <div class="fs-6">Short description</div>
      5<i class="fa fa-star fa-sm text-secondary" title="Bad" ></i>
    </div>
    <div class="px-2 d-flex flex-column align-self-center">
      <button type="button" class="btn btn-primary btn-lg p-1 mb-1">Visit</button>
      <button type="button" class="btn btn-primary btn-lg px-2 pt-1">Add to Watchlist</button>
    </div>
  </li>
</ul>

</div>

{{!-- Comment --}}          
  <hr class="my-3" style="height: 1px;" />
    <p class="h2 fw-bold px-4 bg-primary mb-0 rounded-5" style="border-bottom-right-radius: 0%!important;border-bottom-left-radius: 0%!important; margin-left:5%;width: fit-content;">Comment</p>
    
        <div class="card container-fluid rounded-end rounded-bottom p-0 row d-flex justify-content-center mx-auto" style="width: 90%">
         <div class="card-header bg-lgrey">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" 
                width="60"
                height="60" />
              <div class="form-outline w-100 fs-4">
                <label class="form-label" for="textAreaExample">Message</label>
                <textarea class="form-control" id="textAreaExample" rows="4"
                  style="background: #fff;"></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-end pt-1">
              <div>
                <ul class="rating d-inline-flex list-inline mx-3 fs-1 my-0 pt-1" data-mdb-toggle="rating">
                  <li><i class="far fa-star fa-sm text-secondary" title="Bad" ></i></li>
                  <li><i class="far fa-star fa-sm text-secondary" title="Poor"></i></li>
                  <li><i class="far fa-star fa-sm text-secondary" title="OK"></i></li>
                  <li><i class="far fa-star fa-sm text-secondary" title="Good"></i></li>
                  <li><i class="far fa-star fa-sm text-secondary" title="Excellent"></i></li>
                </ul>
              </div>
              <button type="button" class="btn btn-primary btn-lg my-auto">Post comment</button>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />
          {{#each cmt}}
          <div class="card-body">
            <div class="d-flex flex-start align-items-center">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" 
                width="80"
                height="80" />
              <div class="me-auto">
                <h6 class="fw-bold text-primary mb-1 fs-4">{{this.Person}}</h6>
                <p class="text-muted small mb-0 fs-5">
                  {{this.Date}}
                </p>
              </div>
              <div class="rating d-flex fs-5" >
                <i class="far fa-star text-secondary" style="line-height: unset" title="Bad"></i>
                <i class="far fa-star text-secondary" style="line-height: unset" title="Poor"></i>
                <i class="far fa-star text-secondary" style="line-height: unset" title="OK"></i>
                <i class="far fa-star text-secondary" style="line-height: unset" title="Good"></i>
                <i class="far fa-star text-secondary" style="line-height: unset" title="Excellent"></i>
              </div>
            </div>

            <p class="mt-3 mb-4 pb-2 fs-5">
              {{this.Content}}
            </p>
          </div>
          <hr class="my-3" style="height: 1px;" />
          {{/each}}
          <ul class="pagination pagination-lg justify-content-center my-3">
            <li class="page-item">
              <a class="page-link" href="?page=" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page=">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=">3</a></li>
            <li class="page-item">
              <a class="page-link" href="?page=" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div> {{! aaaa}}
  
</div>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>