<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all"
  rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all"
  rel="stylesheet" type="text/css" />

<!-- important mandatory libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js"
  type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>



{{! Background }}
<style>
  @media screen and (max-width: 768px) {
    #numRateReg {
      display: none;
    }

    #coverImg {
      display: none;
    }

    #coverContent {}
  }
</style>

<div class="container" id="test">

  {{! Buy in and description }}

  <div class="bg-dark text-light row border rounded">
    <img src="{{course.img}}" id="coverImg" class="col-md-4 p-0">
    <div class="px-5 py-4 text-start col-md-8" id="coverContent">
      <h1 class="fw-bold">{{course.name}}</h1>
      <p class="fs-5 m-0">{{course.overview}}</p>

      <div class="d-flex">

        <div class="d-flex flex-column me-auto">
          <div class="d-flex">
            <p class="fs-5 m-0 text-secondary me-1">Rating: </p>
            <div class="rating d-flex fs-5 align-items-center">
              <input id="#input-6" class="rating rating-loading" value="{{course.rating}}" data-min="0" data-max="5"
                data-step="0.5" data-show-caption="false" data-display-only="true" data-size="sm">
            </div>
            <p class="fs-5 m-0" id="numRateReg"><span class="text-success">&nbsp;{{course.rating_count}}</span>
              ratings<span class="text-success">&nbsp;{{format_number
                course.register_count}}</span> register
            </p>
          </div>
          <div class="d-flex">
            <p class="fs-5 m-0 text-secondary me-1">Lecturers: </p>
            <a class="fs-5 m-0 text-success" data-bs-toggle="offcanvas" href="#profile" role="button"
              aria-controls="offcanvasExample">
              {{author.username}}
            </a>
          </div>
          <div class="d-flex">
            <p class="fs-5 m-0 text-secondary me-1">Lastest Updated: </p>
            <p class="fs-5 m-0">{{format_date course.lastUpdate}}</p>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="text-secondary m-0 fs-5">{{format_number course.price}} VND</p>
          {{#if buy}}
          <button class="btn btn-md btn-secondary text-light fw-bold p-1 w-100" disabled type="button">Already
            Bought</button>
          {{else}}
          <form method="post" class="w-100">
            <button class="btn btn-md btn-secondary text-light fw-bold p-1 w-100"
              formaction="/course/{{course.name}}/buy" type="submit">Add to cart</button>
          </form>
          {{/if}}
          <form method="post" action="/course/{{course.name}}/fav" class="w-100 mt-1">
            <button class="btn btn-secondary text-light btn-lg p-1 w-100 text-light fw-bold" type="submit"
              name="nameFav" value="{{course.name}}" id="btnFav"><i class="fas fa-heart"></i></button>
          </form>
        </div>
      </div>

    </div>
    <div class="row bg-secondary rounded-bottom fs-6 p-0 m-0 w-100">
      &nbsp;
    </div>
  </div>

  {{! Body }}
  <hr class="my-5 text-dark" style="height: 1px;" />
  <div class="container-fluid p-0" style="width: 90%">
    <p class="h2 fw-bold">Course Sumary</p>
    <p id="courseDes" class="fs-5 px-4 py-1 rounded-bottom rounded-end"></p>
  </div>
  {{! Accordion }}
  <hr class="my-5 text-dark" style="height: 1px;" />


  <div class="accordion open rounded-end rounded-bottom" id="accordionExample" style="margin-left: 5%; width: 90%;">
    <p class="h2 fw-bold">
      Course Details</p>

    {{!-- {{#each course.chapters}}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button fw-bold fs-5 py-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Chapter 1: {{this.name}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse fs-5 collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        {{#each this.lessons}}
        <div class="accordion-body py-2">
          {{this.name}}: &nbsp; {{this.video}}
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}} --}}
  </div>

  {{! Recommend }}

  <hr class="my-5 text-dark" style="height: 1px;" />

  <div class="container-fluid p-0" style="width: 90%">
    <p class="h2 fw-bold">Recommend</p>
    <ul class="list-group list-group-flush">
      {{#each rec}}
      <li class="list-group-item d-flex border border-2 shadow p-3">
        <a class="align-self-center" href="/course/{{this.name}}"><img src="{{this.img}}"
            style="background-repeat: no-repeat; height: 100px; width: 100px; " class="rounded align-self-center" /></a>
        <div class="px-2 me-auto" style="flex: 9">
          <u class="fs-5 fw-bold m-0"> <a class="links text-secondary" href="/course/{{this.name}}">
              {{this.name}}</a></u>
          <div class="fs-6">{{this.overview}}</div>
          <span class="fs-5">{{round_number this.rating}}<i class="fa fa-star fa-xs text-secondary"
              style="line-height: unset"></i>&nbsp;<u class="fs-6 text-success">{{this.register_count}}
              students</u></span>
        </div>
        <div class="px-2 d-flex flex-column align-self-center" style="flex: 1">
          <button type="button" class="btn btn-secondary btn-md p-1 mb-1" type="button"><a class="links text-light"
              href="/course/{{this.name}}">Visit</a></button>
          <button class="btn btn-outline-secondary btn-lg p-1" type="submit" form="myform" name="nameFav"
            value="{{this.name}}" id="btnFav"><i class="fas fa-heart"></i></button>
        </div>
      </li>
      {{/each}}
    </ul>

  </div>
  <form method="post" id="myform" action="/course/{{course.name}}/fav">

  </form>

  {{! Comment }}
  <hr class="my-5 text-dark " style="height: 1px;" />
  <form method="post" id="postCmtForm" action="/course/{{course.name}}/fb">
    <div class="card container-fluid row d-flex justify-content-center mx-auto shadow" style="width: 90%">
      <div class="card-header bg-white">
        <div class="d-flex flex-start">
          <img class="rounded-circle shadow-1-strong me-3" src="{{avatar}}" alt="avatar" width="80" height="80" />
          <div class="form-outline w-100 fs-4">
            <label class="form-label" for="feedback">Message</label>
            <textarea class="form-control" id="content" rows="4" style="background: #fff;" type="text" value=""
              name="content"></textarea>

          </div>
        </div>
        <div class="d-flex justify-content-end pt-1 align-items-center">
          <div>
            <input id="ratingStar" name="star" class="rating rating-loading" data-show-clear="false" data-size="sm"
              data-show-caption="false">
          </div>
          <button class="btn btn-secondary btn-lg my-auto" id="btnPost" type="button" form="postCmtForm"
            data-value1="{{buy}}" value="{{user}}" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="right" title="Warning">Post
            comment</button>
        </div>
      </div>
  </form>
  <hr class="mb-3" style="height: 1px;" />
  <div id="feedbacksAjax">
  {{#each feedbacks}}
  <div class="card-body">
    <div class="d-flex flex-start align-items-center">
      <img class="rounded-circle shadow-1-strong me-3" src="{{this.avatar}}" alt="avatar" width="80" height="80" />
      <div class="me-auto">
        <h6 class="fw-bold mb-1 fs-4">{{this.author}}</h6>
        <p class="text-muted small mb-0 fs-5">
          {{this.time}}
        </p>
      </div>
      <div class="rating d-flex fs-5">
        <input class="rating rating-loading" value="{{star}}" data-min="0" data-max="5" data-step="0.5"
          data-show-caption="false" data-display-only="true" data-size="md">
      </div>
    </div>

    <p class="mt-3 mb-4 pb-2 fs-5">
      {{this.content}}
    </p>
  </div>
  <hr class="my-3" style="height: 1px;" />
  {{/each}}
  <ul id="nPage" value="{{pageNumbers.length}}" class="pagination pagination-lg justify-content-center">
    {{#each pageNumbers}}
    {{#if isCurrent}}
    <li class="page-item">
      <a class="page-link text-secondary border-secondary fw-bold" id="prev" href="?page={{minus_one value}}"
        value="{{minus_one value}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{/if}}
    {{/each}}
    {{#each pageNumbers}}
    {{#if isCurrent}}
    <li class="page-item active" aria-current="page">
      <span class="page-link text-secondary border-secondary fw-bold bg-secondary text-light">{{value}}</span>
    </li>
    {{else}}
    <li class="page-item">
      <button class="page-link text-secondary border-secondary fw-bold" type="button" id="pagination{{value}}"
        value="{{value}}">{{value}}</button>
    </li>
    {{/if}}
    {{/each}}
    {{#each pageNumbers}}
    {{#if isCurrent}}
    <li class="page-item">
      <a class="page-link text-secondary fw-bold border-secondary" id="next" href="?page={{add_one value}}"
        value="{{add_one value}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{/if}}
    {{/each}}
  </ul>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="profile" aria-labelledby="profileLabel">
  <div class="offcanvas-header">
    <u class="offcanvas-title h1 fw-bold" id="profileLabel">{{author.username}}</u>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#btnPost').click(function () {
    console.log(this);
    var check1;
    var check2;
    if (!($('#btnPost').val())) {
      $('#postCmtForm').submit();
      return;
    }
    if (!$('#btnPost').attr('data-value1')) {
      $(this).popover('dispose')
      $(this).popover({
        content: 'Need to buy first',
        placement: 'right',
        container: this,
        title: 'Warning',
      }).popover('show');
      return;
    };
    if (!($('#content').val())) {
      //$('#btnPost').attr('data-bs-content', 'Missing Comment');
      $(this).popover('dispose')
      $(this).popover({
        content: 'Please Comment',
        placement: 'right',
        container: this,
        title: 'Warning',
      }).popover('show');
    } else if (!($('#input-7').val())) {
      $(this).popover('dispose')
      $(this).popover({
        content: 'Please Rate',
        placement: 'right',
        container: this,
        title: 'Warning',
      }).popover('show');
    } else {
      $(this).popover('dispose');
      $('#postCmtForm').submit();
    }
  });

  $('#prev').click(function (event) {

    if ($('#prev').attr('value') <= 0) {
      event.preventDefault();
    }
  })

  $('#next').click(function (event) {
    if ($('#next').attr('value') > $('#nPage').attr('value')) {
      event.preventDefault();
    }
  })

  $('body').on('click', '[id^=pagination]', function () {
    $.ajax({
      url: "/course/{{course.name}}?page=" + $(this).attr('value') + '&ajax=1',
      type: 'GET',
      success: function (res) {
         $('#test').html(res);
      }
    });
  })
  var $des = $("#courseDes"),
    // {{course.description}}
  html = $.parseHTML('{{{course.description}}}');
  $des.append(html);
  // Append the parsed HTML
  //Chua lam duoc cai pagination comment sau khi doi trang

</script>