<div class="container">
  <h3>{{this.total}} results for "{{this.text}}"</h3>
  <div style="display: flex; flex-wrap: wrap; row-gap: .8rem;">
    <div class="dropdown ms-0">
      <form id="filter" method="get">
        <input class="rounded-pill form-control me-2 mb-2" type="search" placeholder="Search" aria-label="Search"
          name="search" value="{{this.text}}" />
        <button class="btn btn-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </button>
        <button class="btn btn-secondary text-white d-lg-none" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#filterSearch" aria-expanded="false" aria-controls="filterSearch" id="filter">
          <i class="fa fa-filter" aria-hidden="true"></i>Filter
        </button>
        <select class="dropdown-menu" aria-labelledby="dropdownMenuButton1" name="sort" onchange="this.form.submit()">
          <option class="dropdown-item" value="relevant">Most Relevant</option>
          <option class="dropdown-item" value="rating">Highest Rated</option>
          <option class="dropdown-item" value="price">Price</option>
        </select>
      </form>
    </div>
  </div>
  <div style="display: flex; margin-top: 10px">
    <div class="offcanvasFilter">
      <div class="offcanvas-lg offcanvas-end" data-bs-scroll="true" tabindex="-1" id="filterSearch"
        aria-labelledby="filterSearchLabel" style="width: 280px">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="filterSearchLabel">{{this.courses.length}} results</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#filterSearch"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="card card-body" style="width: 100%; margin-right: 15px;">
            <div class="accordion open" id="accordionCollapse">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button fw-bold fs-6" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Topic
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionCollapse" style="font-size: 15px">
                  <div class="accordion-body">
                    {{#each this.subCategories}}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="cat" value="{{name}}" id="flexCheckDefault"
                        form="filter" />
                      <label class="form-check-label" for="flexCheckDefault">
                        {{name}}
                      </label>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion open" id="accordionCollapse">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button fw-bold fs-6 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Price
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionCollapse" style="font-size: 15px">
                  <div class="accordion-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="cost" value="paid" id="flexCheckDefault"
                        form="filter" />
                      <label class="form-check-label" for="flexCheckDefault">
                        Paid
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="cost" value="free" id="flexCheckDefault"
                        form="filter" />
                      <label class="form-check-label" for="flexCheckDefault">
                        Free
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion open" id="accordionCollapse">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button fw-bold fs-6 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ratings
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionCollapse" style="font-size: 15px">
                  <div class="accordion-body">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rating" id="flexRadioDefault1" form="filter"
                        value="4.5" />
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-solid fa-star-half-stroke text-pink"></i>
                      <label class="form-check-label" for="flexRadioDefault1">
                        4.5 & up
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rating" id="flexRadioDefault1" form="filter"
                        value="4.0" />
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-solid fa-star-half-stroke text-pink"></i>
                      <i class="fa-regular fa-star text-pink"></i>
                      <label class="form-check-label" for="flexRadioDefault1">
                        4.0 & up
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rating" id="flexRadioDefault1" form="filter"
                        value="3.5" />
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-solid fa-star-half-stroke text-pink"></i>
                      <i class="fa-regular fa-star text-pink"></i>
                      <label class="form-check-label" for="flexRadioDefault1">
                        3.5 & up
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rating" id="flexRadioDefault1" form="filter"
                        value="3.0" />
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-sharp fa-solid fa-star text-pink"></i>
                      <i class="fa-regular fa-star text-pink"></i>
                      <i class="fa-regular fa-star text-pink"></i>
                      <label class="form-check-label" for="flexRadioDefault1">
                        3.0 & up
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-secondary text-white dropdown-toggle mt-2" type="button" onClick="this.form.submit()"
              form="filter">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="flex: 3">
      {{#each this.courses}}
      {{#if discount}}
      <div class="searchCourse" style="border: 3px solid orange;
                        padding: 10px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        margin-bottom: 20px;">
        <img src={{img}} alt="" class="scImg" style="width: 262px; height: 148px; object-fit: cover" />
        <div style="display: flex; flex-direction: column; flex: 2">
          <span class="fs-6 fw-bold">{{name}}</span>
          <span style="font-size: 14px">{{overview}}</span>
          <span class="text-muted" ; style="font-size: 14px">Lecturer: {{author}}</span>
          <span class="text-muted" ; style="font-size: 14px">{{rating}}</span>
          <span class="text-muted" ; style="font-size: 14px">{{register_count}} students</span>
        </div>
        <div style="text-align: right; display: flex; flex-direction: column; gap: 5px;">
          <span class="fs-6 fw-bold">{{price}}$</span>
          {{#if discount}}
          <div class="bg-secondary">
            <i class="bg-secondary fa-solid fa-fire"></i>
            <span>Sale {{discount}}%</span>
          </div>
          {{/if}}
        </div>
      </div>
      {{else}}
      <div class="searchCourse" style="border: 1px solid lightgray;
                        padding: 10px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        margin-bottom: 20px;">
        <img src={{img}} alt="" class="scImg" style="width: 262px; height: 148px; object-fit: cover" />
        <div style="display: flex; flex-direction: column; flex: 2">
          <span class="fs-6 fw-bold">{{name}}</span>
          <span style="font-size: 14px">{{overview}}</span>
          <span class="text-muted" ; style="font-size: 14px">Lecturer: {{author}}</span>
          <span class="text-muted" ; style="font-size: 14px">{{rating}}</span>
          <span class="text-muted" ; style="font-size: 14px">{{register_count}} students</span>
        </div>
        <div style="text-align: right; display: flex; flex-direction: column; gap: 5px;">
          <span class="fs-6 fw-bold">{{price}}$</span>
          {{#if discount}}
          <div class="bg-secondary">
            <i class="bg-secondary fa-solid fa-fire"></i>
            <span>Sale {{discount}}%</span>
          </div>
          {{/if}}
        </div>
      </div>
      {{/if}}
      {{/each}}
      <div class="d-flex justify-content-center pt-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" style="color: se;">
              <a class="page-link text-dark fs-5" href="?page=" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span></a>
            </li>
            {{#each pageNumbers}}
            {{#if isCurrent}}
            <li class="page-item active" aria-current="page">
              <input class="page-link bg-light border-secondary text-dark fs-5" name="page" value="{{value}}"
                form="filter" type="submit" />
            </li>
            {{else}}
            <li class="page-item">
              <input class="page-link text-dark fs-5" name="page" value="{{value}}" form="filter" type="submit">
            </li>
            {{/if}}
            {{/each}}
            <a class="page-link text-dark fs-5" href="?page=" aria-label="Next">
              <span aria-hidden="true">&raquo;</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>